{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- Static CSS files -->
    {% block css %}{% endblock %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Todo App - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Todo App</a>
          {% if user.is_authenticated %}
          <a class="navbar-brand" href="addlist">Add List</a>
          <a class="navbar-brand" href="viewlist">View List</a>
          <a class="navbar-brand" href="viewstats">View Statistics</a>
          {% endif %}
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="logout"
              ><span class="glyphicon glyphicon-log-out"></span> Logout</a
            >
          </li>
          {% else %}
          <li>
            <a href="signin"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a href="login"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if user.is_authenticated %} {% block pagecontent %}
    <h1 style="text-align: center">Hello, {{user.username}} !!!</h1>
    <br />
    {% endblock pagecontent %} {% else %}
    <h1 style="text-align: center">
      To use the service, please sign in or login
    </h1>
    {% endif %}
  </body>
</html>
