<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    {% comment %}
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    {% endcomment %}
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Todo App</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Todo App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="logout"
              ><span class="glyphicon glyphicon-log-out"></span> Logout</a
            >
          </li>
          {% else %}
          <li>
            <a href="signin"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a href="login"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if user.is_authenticated %}
    <h1 style="text-align: center">Hello, {{user.username}} !!!</h1>
    {% endif %}
  </body>
</html>
