body {
  background-color: aquamarine;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  width: 80%;
  margin: auto;
}

.box {
  background-color: beige;
  padding: 0.5rem 0 0.5rem 3rem;
  border-radius: 3rem;
}

.title {
  color: blue;
}
